@use "../abstracts/variables" as *;

.theme {
    display: flex;
    align-items: flex-end;
    gap: $gap-theme;

    &__label {
        text-transform: uppercase;
        float: left;
        font-size: $font-size-themes;
        letter-spacing: 1px;
        padding-bottom: 5px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $gap-theme-container;
        align-items: center;
    }

    &__numbers {
        height: 13px;
        display: grid;
        grid-template-columns: repeat(3, 20px);
        place-items: center;
    }

    &__buttons {
        width: 68px;
        height: 26px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--theme-background);
        border-radius: $radius-theme;
    }

    &__button {
        appearance: none;
        width: 16px;
        height: 16px;
        margin: 0;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;

        &:focus-visible {
            outline: 2px solid var(--toggle-background);
        }

        &:checked {
            background-color: var(--toggle-background);
        }
    }

}
